.MainCard {
  width: 200px;
  height: 200px;

  &__disable-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: darkgray;
  }

  &__active-card {
    box-shadow: 0 0 10px blue;
    background: white;
  }

  &__no-select {
    &:hover {
      box-shadow: 0 0 10px blue;
    }

    background: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

